*{
    box-sizing: content-box;
}
body{
    background: url(img/howarts.gif) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

table{
    margin: 0 auto;
    width: fit-content;
    height:fit-content;
    background-image: url('img/habitacion.png');
    background-size: 102% 102%;
    background-repeat: no-repeat;
    background-position: center;
    border-collapse: collapse;
    border: solid 4px rgb(172, 99, 32);
}
td{
    width: 100px;
    height: 100px;
}

#prota{
    background-image: url("img/harry_prota.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#prota_exam{
    background-image: url("img/harry_con_examenes.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#malo{
    background-image: url("img/voldemort.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#examenes{
    background-image: url("img/examenes.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    filter: drop-shadow(0 0 5rem #ccb102a9);
}

#inventario{
    position: fixed;
    top: 0px;
    left: 0px;
    margin: 1%;
    display: flex;
    flex-direction: column;
    padding: 0.5%;
    color: white;
}

#box-inventario{
    display: none;
}

#box-inventario > div{
    padding: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 1px solid white;
}

#puertaAbierta{
    background-color: greenyellow;
}

span{
    font-size: 1.5rem;
}

#info{
    font-size: 1.1rem;
}