table{
    margin: 0 auto;
    width: 500px;
    height:500px;
    background-image: url('img/habitacion.png');
    background-size: 102% 102%;
    background-repeat: no-repeat;
    background-position: center;
    border-collapse: collapse;
}

#prota{
    background-image: url("img/harry_prota.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#malo{
    background-image: url("img/voldemort.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#examenes{
    background-image: url("img/examenes.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#inventario{
    position: fixed;
    top: 0px;
    left: 0px;
    border: 1px solid black;
    margin: 1%;
    width: 70px;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0.5%;
}