*{
    box-sizing: content-box;
}
body{
    background: url(img/howarts.gif) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

table{
    margin: 0 auto;
    width: fit-content;
    height:fit-content;
    background-image: url('img/habitacion.png');
    background-size: 102% 102%;
    background-repeat: no-repeat;
    background-position: center;
    border-collapse: collapse;
    border: solid 4px rgb(172, 99, 32);
}
td{
    width: 100px;
    height: 100px;
}

#prota{
    background-image: url("img/harry_prota.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#malo{
    background-image: url("img/voldemort.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#examenes{
    background-image: url("img/examenes.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    filter: drop-shadow(0 0 5rem #ccb102a9);
}

#inventario{
    position: fixed;
    top: 0px;
    left: 0px;
    border: 1px solid black;
    margin: 1%;
    width: 70px;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0.5%;
}

#puertaAbierta{
    background-color: greenyellow;
}